
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
    <li style="font-size: 2em; border: 1px solid coral; border-radius: 10px; padding: 15px">
        <a href="@Url.Action("List","Home")" class="btn btn-lg btn-success" id="simple1">لیست ساده</a> <span class="label label-danger la" for="simple1">(همراه با تعیین نام)</span>
        <br />
        <br />
        <br />
        <a href="@Url.Action("List2","Home")" class="btn btn-lg btn-success" id="simple2">لیست ساده</a> <span class="label label-info" for="simple2">(مستقیم با نام پیش فرض)</span>
    </li>
    <li>
        <hr />
    </li>
    <li style="font-size: 2em; border: 1px solid moccasin; border-radius: 10px; padding: 15px">
        <a href="@Url.Action("Headers","Home")" class="btn btn-lg btn-success" id="simple2">سر برگ</a> <span class="label label-info" for="simple2">(مستقیم با نام پیش فرض)</span>
    </li>
    <li>
        <hr />
    </li>
    <li style="font-size: 2em; border: 1px solid mediumpurple; border-radius: 10px; padding: 15px">
        <a href="@Url.Action("InlineHeaders","Home")" class="btn btn-lg btn-success" id="simple2"> سر برگ با inline</a> <span class="label label-info" for="simple2">(مستقیم با نام پیش فرض)</span>
    </li>
    <li>
        <hr />
    </li>
    <li style="font-size: 2em; border: 1px solid yellowgreen; border-radius: 10px; padding: 15px">
        <a href="@Url.Action("Reporting","Home")" class="btn btn-lg btn-success" id="simple2"> گزارشگیری با استفاده از کلاس از پیش تعریف شده</a> <span class="label label-info" for="simple2">(مستقیم با نام پیش فرض)</span>
    </li>
    <li>
        <hr />
    </li>
    <li style="font-size: 2em; border: 1px solid forestgreen; border-radius: 10px; padding: 15px">
        <a href="@Url.Action("Grouping","Home")" class="btn btn-lg btn-success" id="simple2"> گزارشگیری گروه بندی شده</a> <span class="label label-info" for="simple2">(مستقیم با نام پیش فرض)</span>
    </li>
    <li>
        <hr />
    </li>
    <li style="font-size: 2em; border: 1px solid red; border-radius: 10px; padding: 15px">
        <a href="@Url.Action("TaxBalance","Home")" class="btn btn-lg btn-success" id="simple2"> تراز</a> <span class="label label-info" for="simple2">(مستقیم با نام پیش فرض)</span>
    </li>
    <li>
        <hr />
    </li>
    <li style="font-size: 2em; border: 1px solid lightcoral; border-radius: 10px; padding: 15px">
        <a href="@Url.Action("Printing","Home")" class="btn btn-lg btn-success" id="simple2"> ترکیب گزارش های و چاپ مستقیم</a>
    </li>
    <li>
        <hr />
    </li>
</ul>
